body,
html {
  height: 100%;
  margin: 0;
}

.container {
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 2fr 2fr 2fr 0.5fr;
    gap: 15px;
    padding: 16px;
    
  }
  
.container > div{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-radius: 15px;
}

.logo{
    background-color:brown;
    color: white;
    grid-column: 1 / 6;
    
}